body {
  text-align: center;
  background-color: #B39DDB
}
h1 {
  font-size:20px;
  text-shadow:2px 2px #F8BBD0;
}
#bio {
  font-family: 'Antic Slab', serif;
  padding: 20px;
  font-size:18px;
}
#para {
    font-family: 'Antic Slab', serif;
    padding: 20px;
    font-size:18px;

}
img {
  width:120px;
}
margin: 0;
    padding-top: 800px;
}

.image {
    width: 175px;
    margin-bottom: 50px;
    border-radius: 50%;
}

#home {
    position: absolute;
    height: 800px;
    color: #FFFFFF;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0.83;
    background: linear-gradient(#60ebeb 0%, #27ae60 100%);
    display: table;
    width: 100%;
    height: 100%;
    z-index: 9
}

h1 {
    font-size: 40px;
    font-family: cursive;
    font-weight: 300;
}
p {
    max-width: 450p;
    font-size: 17px;
    margin: 25px auto;
    line-height: 1.3;
}
.menu {
    list-style: none;
    font-family: cursive;
    position: absolute;
    top: 10px;
    right: 30p;
    cursor: pointer;
    z-index: 10;
}

.links {
    font-family: cursive;
    font-size: 20px;
    color: aliceblue;
    padding-top: 5px;
    padding-right: 9px;
    padding-left: 9px;
    padding-bottom: 5px;
}
.links:hover {
    background-color: dodgerblue;
}
html {
    scroll-behavior: smooth;
}
.article:hover {
    background-color: dodgerblue;
}